*, *:before, *:after {
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type:mandatory;

}
body{
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:gray;
}
.header {
    display: flex;
    justify-content: center;
    height: 10rem;
    
    
}
.contenedor{
    max-width: 120rem;
    
    margin: 0 auto 0 auto;
}
.sombra{

    -webkit-box-shadow: 0px 5px 15px 0px rgba(125,118,125,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(125,118,125,1);
    box-shadow: 0px 5px 15px 0px rgb(110, 117, 119);
    background-color:#585f5b;
    padding: 2rem;
    border-radius: 2rem;

}
.footer{
   
    
    
    text-align: center;
}
.centrar-texto {
    text-align: center;
}

.boton {
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;

    }
}
.boton:hover {
    cursor: pointer;
    background-color: #66ad8c;
    box-shadow: 0 0 10px #66ad8c, 0 0 40px #66ad8c, 0 0 80px #66ad8c;
    transition-delay: .5s;
}
.boton--primario {
    background-color:#41a78d;
    margin: 20px;
    border-radius: 50px;

}
.formulario {
    background-color:rgb(154, 221, 163);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
    border: 1px solid gray;
}
.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}